body[data-page="page"] :is(#main-content-container, #right-sidebar) div.is-journals #today-queries {
  max-height: 88vh;
  overflow: scroll;
  min-width: 500px;
  max-width: 500px;
  display: unset;
}