body>div#root>div>main article>div[data-id="logseq-page-tags-and-hierarchy"] div.heading-item {
    margin-top: 3em;
    border-top-width: 1px;
    padding-top: 1em;
}

body[data-page="page"]>div#root>div>main div#main-content-container div.is-journals>div.relative div div.ls-page-title span#hierarchyLinks {
    position: absolute;
    margin-top: -4em;
}

body[data-page="whiteboard"]>div#root>div>main div#main-content-container {
    & div.whiteboard-page-title>span#hierarchyLinks {
        font-size: small;

        &>a.page-ref {
            text-decoration: underline;
        }
    }

    & div.tl-logseq-portal-container>div.tl-logseq-portal-header-page>div.relative span.hierarchyLinks {
        &:after {
            margin-left: 0.5em;
            margin-right: 0.5em;
            content: "/";
        }
    }
}