div#root div {

    &#main-content-container:not(:has(div#journals)) {
        justify-content: unset !important;

        & div.cp__sidebar-main-content {
            max-width: unset
        }

        & div.page.relative>div.relative {
            min-width: 1050px;
            max-width: 1450px;
            flex: 1
        }
    }

    &.page.relative {
        display: flex;

        >div {

            &:not(.relative) {
                padding: 1em;
                height: fit-content;
                position: sticky;
                top: 0;

                &.mt-6 {
                    margin-top: unset;
                }

                &:not(:has(div.content+div.hidden)) {
                    flex: .3;
                    max-width: fit-content;

                    & div.foldable-title {
                        min-width: 340px
                    }
                }

                &:not(#today-queries):has(div.content>div.flex>div.content+div.hidden),
                &:is(.page-hierarchy, .th-toc):has(div.flex>div.content+div.hidden) {
                    writing-mode: vertical-rl;
                    max-width: 3.2em;
                }
            }

            & div.foldable-title h2 {
                user-select: none;
            }

            &:is(.page-tags, .page-hierarchy) {
                padding: 1em;

                & div.initial {
                    font-size: .9em
                }

                & div.foldable-title h2 {
                    opacity: unset;
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            &.page-hierarchy:not(:has(div.content+div.hidden)) {
                max-width: 580px;
                min-width: 400px
            }


            &.page-tags:not(:has(div.content+div.hidden)) {
                max-width: 480px;
                min-width: 400px
            }

            & div:is(.page-linked, .page-unlinked) {
                font-size: .96em;
                max-width: 570px;

                &:not(:has(div.content+div.hidden)):focus-within {
                    min-width: 500px
                }

                &:is(:hover, :focus-within)>div.content>div>div.initial {
                    overflow-y: scroll
                }
            }

            & div.page-linked div.pt-6 {
                padding-top: unset
            }

            >div.page-unlinked.mt-6 {
                margin-top: unset
            }

            & div.references div.foldable-title a.block-control {
                display: none;
            }

            &.lazy-visibility div.scheduled-or-deadlines.mt-8 {
                margin-top: unset;
            }

            &.lazy-visibility:has(div.scheduled-or-deadlines):not(:has(div.content+div.hidden)) {
                min-width: 480px;
                max-width: 650px;

                &:focus-within {
                    min-width: 550px
                }
            }
        }

        >:is(div div.references, div.page-hierarchy, div.lazy-visibility div.scheduled-or-deadlines) div.foldable-title a.block-control {
            display: none
        }


    }

    &#main-content-container div.page.relative>div div#tocInPage,
    &.page.relative>div div:is(.page-linked, .page-unlinked)>div.content>div>div.initial,
    &.page.relative>div:not(.relative):is(.page-tags, .page-hierarchy) div.initial {
        max-height: 86vh;
        overflow: auto
    }

    &#right-sidebar div.page.relative>div.relative {
        min-width: 94%
    }



    &:is(#main-content-container, #right-sidebar) div.is-journals div#today-queries {
        display: none
    }

    &#main-content-container {
        &.scrollbar-spacing {
            overflow-x: unset
        }

        & div#tocInPage {
            font-size: .88em;
            padding-bottom: 2em;
            padding-left: 1em;
            padding-right: .8em;
            user-select: none;

            & :is(h1, h2, h3, h4, h5, h6):hover {
                border-radius: 2px;
                background-color: var(--ls-block-highlight-color);
                transition: background-color .2s cubic-bezier(0, 1, 0, 1);
            }

            & :is(h2, h3, h4, h5, h6) {
                margin-top: .5em;
                display: list-item;
                list-style-type: disc;
                list-style-position: inside;
            }

            & :is(h3, h4, h5, h6) {
                padding-top: .6em;
            }

            & h1 {
                font-size: 1.6em;
                margin-top: .8em;
            }

            & h2 {
                font-size: 1.4em;
                padding-left: .6em;
                outline: 1px solid var(--ls-quaternary-background-color);
                border-bottom: unset;
                margin-top: .6em;
            }

            & h3 {
                padding-left: 1.2em;
            }

            & h4 {
                padding-left: 2.0em;
            }

            & h5 {
                padding-left: 2.8em;
            }

            & h6 {
                padding-left: 3.6em;
            }
        }
    }
}


body.is-awSt-enabled div#root {
    & div.page.relative {
        gap: .5em;

        & div.mt-6 {
            margin-top: unset
        }

        >div {
            &.relative {
                margin-right: 1.5em
            }

            &:not(.relative) {
                background: var(--ls-primary-background-color);
                border-radius: 7px
            }
        }
    }

    & div.cp__sidebar-main-content>div {
        margin-left: unset
    }
}